# build files
build/*
!build/assets/
build/assets/save.json

# build scripts
scripts/

# clangd configuration
compile_flags.txt
.clang-format

# vsc configuration
.vscode/

# external files
include/
lib/
tags